$colorSelectSite: #84C24C;
$widthSite: 1140px;
$widthSiteTablet: 768px;
$colorSelectText: #7BB745;
$colorTitleText: #05203E;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid) / 3;
$widthBurgerMenu: 232px;